*{
    margin:0;
    border:0;
    font-family: "Nunito", "Helvetica", "Arial", "sans-serif";;
    color: white;
    background-color: #08042c;
    box-sizing:border-box;
}
body{
    max-height: 100vh;
    overflow: hidden;
}
.title{
    border-bottom: 1px solid wheat;
    height: 70px;
}
.title h1{
    margin-left: 45%;
    margin-top: 20px;
}
.container{
    display: flex;
    padding-top: 100px;
}
.container h2{
    width: 350px;
    padding-left: 100px;
    font-size: xx-large
    
}
.container img{
    margin-left: 500px;
    width: 700px;
    position: absolute;
}

.sub-menu-1{
    display: none;
    border: white;
    /* background-color:  rgba(13, 13, 13, 0.5); */
}
.index li:hover .sub-menu-1{

    display: block;
    position:absolute;
    background-color: rgba(13, 13, 13, 0.5);
   
    border: white;
}

.navbar{
    border: 1px solid wheat;
    width:75%;
    height:auto;
    background-color: rgba(13, 13, 13, 0.5);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin:13px auto;
    }
nav{
    
    position: relative;

    word-spacing: 17px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    height:50px;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:rgb(222, 215, 215);
    opacity: 70%;
    font-weight: 100;
    margin:10px;

}

.navbar a:hover{
    color:blue;
    
    opacity: 70%;
    transition:0.5s;
}
.index{
    display: flex;
}
